.mycontainer {
  padding: 25px 0px 0px 115px;
  // overflow: hidden;
  height: 100%;
  position: relative;
  height: 80vh;
}
h1 {
  cursor: auto !important;
}
.right {
  background-image: url("../../../assets/login/5865559.jpg");
  background-repeat: no-repeat;
  top: 0;
  // background-image: url(5865559.jpg);
  background-position: center;

  background-size: 93%;
}
.gender {
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  input[type="radio"][id^="cb"] {
    display: none;
  }

  label {
    border: 1px solid #fff;
    padding: 7px 10px 10px 10px;
    display: block;
    position: relative;
    margin: 10px;
    background: #f9f9f9;
    box-shadow: 3px 3px 5px 0px #00000040;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 50px;
    box-shadow: 0px -3px 5px #ffffff, 0px 3px 5px rgba(0, 0, 0, 0.25);

    cursor: pointer;
  }

  label:before {
    height: 50px;
    width: 50px;
    left: 3904px;
    top: 260px;
    border-radius: 6px;

    background-color: white;
    color: white;
    content: " ";
    display: block;
    border: 1px solid grey;
    position: absolute;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
    box-shadow: 0px -3px 5px #ffffff, 0px 3px 5px rgba(0, 0, 0, 0.25);
  }

  label img {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }

  :checked + label {
    box-shadow: -3px -3px 5px #ffffff, 3px 3px 5px rgba(0, 0, 0, 0.25), inset -3px -3px 5px #ffffff,
      inset 3px 3px 5px rgba(0, 0, 0, 0.25);
  }

  :checked + label:before {
    content: "✓";
  }

  :checked + label img {
    // transform: scale(0.9);
    // box-shadow: 0 0 5px #333;
    // z-index: -1;
  }
}
.form-control {
  margin-bottom: 20px;
}
.date {
  label {
    line-height: 12px;
    text-align: center;
    left: 5px;
  }
  input {
    margin: 3px;
    text-align: center;
  }
}
.center {
  .pwd-text {
    font-family: Open Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    color: #626262;
  }
  .Lbltext {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #626262;
  }
  .alertP {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    font-style: italic;
    line-height: 19px;
    .bText {
      font-weight: 800;
      line-height: 19px;
    }
  }
}

.left {
  display: NONE;
}
.btnBox {
  .btn {
    margin-right: 8rem;
  }
}
@media only screen and (max-width: 1000px) {
  .date {
    width: 75.5%;
    input {
      text-align: center;
      padding: 1rem 0.5rem;
    }
    label {
      left: 5px;
    }
  }
  .resP {
    text-align: center !important;
  }
  .mycontainer {
    // padding: 0px 0px 0px 0px;
    padding: 25px 10px 0px 10px !important;
    // overflow: hidden;
  }
  .center {
    margin-top: 10%;
    .centerItem {
      display: flex;
      justify-content: center;
      margin: auto;
    }
  }
  .alertBox {
    // padding: 0px 33px 0px 100px;
    .row {
      width: 100%;
      padding: 0px 33px;
    }
  }

  .left {
    display: block;
    position: relative;
    padding: 0px 15px;

    &::after {
      content: "";
      width: 100%;
      height: 5px;
      background: #353e47;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    img {
      max-width: 138%;
      width: 153%;
    }
  }
}

@media only screen and (max-width: 727px) {
  .center {
    margin-top: 10%;
  }
  .btnBox {
    justify-content: start !important;
  }
}
@media only screen and (max-width: 400px) {
  .alertBox {
    .row {
      padding: 0px 22px 0 55px;
    }
  }
  .centerItem {
    .col-3 {
      width: 30% !important;
    }
    .col-6 {
      width: 70%;
    }

    .col-9 {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1480px) and (min-width: 1145px) {
  .centerItem {
    .col-3 {
      width: 30% !important;
    }
    .col-6 {
      width: 70%;
    }

    .col-9 {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1145px) and (min-width: 981px) {
  .centerItem {
    .col-3 {
      width: 35% !important;
    }
    .col-6 {
      width: 65%;
    }

    .col-9 {
      width: 100%;
    }
  }
}
