<div class="container all">
  <form action="" [formGroup]="PasswordConformForm">
    <div class="row enterCode">
      <h1>Please include the code in the box</h1>
      <div class="col-12 d-flex   align-items-center justify-content-center">
        <div class="form-floating">
          <input type="text" class="form-control " id="EnterCode" placeholder="EnterCode" (keyup)=" EnterCode($event)"
            maxlength="6"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            formControlName="otp">
          <label for="EnterCode">Enter code here </label>
        </div>
        <div class="RWAbox">

          <img *ngIf="optCodeType=='false' && PasswordConformForm.controls['otp'].dirty" class="px-1"
            src="../../../assets/login/Wrong.svg" alt="">
          <img *ngIf="optCodeType=='true'" class="px-1" src="../../../assets/login/Right.svg" alt="">
        </div>

      </div>
      <div class="pt-3 text-danger text-center pl-2">
        <p>{{message}}</p>
      </div>

    </div>

    <div *ngIf="optCodeType=='true'" class="NewPwdBox row">
      <div class=" col-12 d-flex align-items-center justify-content-center pb-1
      ">
        <div class="form-floating">
          <input type="password" class="form-control" id="Newpassword" placeholder="New password"
            formControlName="newpassword">
          <label for="Newpassword">New password </label>
        </div>
      <!-- <div class="RWAbox">
          <img *ngIf="PasswordConformForm.get('newpassword')?.hasError('passwordStrength')&&clicksubmit" class="px-1"
            src="../../../assets/login/Alert.svg" alt="" title="Şifrə minimum 6 rəqəmdən ,böyük kiçik hərflərdən ibarət
            olmalıdır">
          <img *ngIf="PasswordConformForm.value.newpassword!=PasswordConformForm.value.repeatnewpassword" class="px-1"
            src="../../../assets/login/Wrong.svg" alt="" title="Password eyni deyil">
          <img class="px-1" src="../../../assets/login/Right.svg" alt="">
        </div> -->
      </div>
      <div class=" col-12 d-flex align-items-center justify-content-center pt-1
      ">
        <div class="form-floating">
          <input type="password" class="form-control" id="Repeatpassword" placeholder="Repeat password"
            formControlName="repeatnewpassword">
          <label for="Repeatpassword">Repeat password </label>
        </div>
        <!-- <div class="RWAbox">
          <img *ngIf="PasswordConformForm.get('newpassword')?.hasError('passwordStrength')&&clicksubmit" class="px-1"
            src="../../../assets/login/Alert.svg" alt="" title="Şifrə minimum 6 rəqəmdən ,böyük kiçik hərflərdən ibarət
            olmalıdır">
          <img *ngIf="PasswordConformForm.value.newpassword!=PasswordConformForm.value.repeatnewpassword" class="px-1"
            src="../../../assets/login/Wrong.svg" alt="" title="Password eyni deyil">
          <img class="px-1" src="../../../assets/login/Right.svg" alt="">
        </div> -->
      </div>
      <p *ngIf="PasswordConformForm.get('newpassword')?.hasError('passwordStrength')&&clicksubmit"
        class="pwd-text text-danger pt-1">
        Şifrə minimum 6 rəqəmdən ,böyük kiçik hərflərdən ibarət
        olmalıdır</p>


      <p *ngIf="PasswordConformForm.value.newpassword!=PasswordConformForm.value.repeatnewpassword"
        class="pwd-text text-danger pt-1">
        Password eyni deyil</p>
      <p *ngIf="PasswordConformForm.invalid && clicksubmit" class="pwd-text text-danger pt-1">
        Xahiş olunur bütün xanaları doldurasınız</p>
      <div class="col-12 text-center">
        <div class="btn">
          <button type="submit" (click)="Submit()" class="dartBtn mt-2">Done</button>
        </div>
      </div>
    </div>
  </form>


</div>
