<div class="container all">
  <div class="row ">
    <h1>Please include the code in the box</h1>
    <div class="col-12 d-flex enterCode  align-items-center">
      <div class="form-floating">
        <input type="text" class="form-control " id="EnterCode" placeholder="EnterCode">
        <label for="EnterCode">Enter code here </label>
      </div>
      <div class="RWAbox">
        <img class="px-1" src="../../../assets/login/Alert.svg" alt="">
        <img class="px-1" src="../../../assets/login/Wrong.svg" alt="">
        <img class="px-1" src="../../../assets/login/Right.svg" alt="">
      </div>
    </div>





  </div>
  <div class="NewPwdBox row">
    <div class=" col-12 d-flex align-items-center justify-content-center pb-1
    ">
      <div class="form-floating">
        <input type="text" class="form-control" id="Newpassword" placeholder="New password">
        <label for="Newpassword">New password </label>
      </div>
      <div class="RWAbox">
        <img class="px-1" src="../../../assets/login/Alert.svg" alt="">
        <img class="px-1" src="../../../assets/login/Wrong.svg" alt="">
        <img class="px-1" src="../../../assets/login/Right.svg" alt="">
      </div>
    </div>
    <div class=" col-12 d-flex align-items-center justify-content-center pt-1
    ">
      <div class="form-floating">
        <input type="text" class="form-control" id="Repeatpassword" placeholder="Repeat password">
        <label for="Repeatpassword">Repeat password </label>
      </div>
      <div class="RWAbox">
        <img class="px-1" src="../../../assets/login/Alert.svg" alt="">
        <img class="px-1" src="../../../assets/login/Wrong.svg" alt="">
        <img class="px-1" src="../../../assets/login/Right.svg" alt="">
      </div>
    </div>
  </div>

  <p class="pt-3 text-danger">Password should be min 6 simbol , letter and number</p>


  <div class="col-12 text-center">
    <div class="btn">
      <button>Done</button>
    </div>
  </div>
</div>
