<ngx-spinner bdColor="transparent" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="col-12 d-flex justify-content-end button pt-1 px-1" mat-dialog-close>
  <img src="../../../assets/login/Close.svg" alt="">
</div>
<div class=" sendSms">
  <h1 class="sendHeader">
    Forget password?
  </h1>
  <hr>
  <p class="sendP py-2">
    Aşağıdakı xanaya daxil etdiyiniz nömrəyə təsdiq kodu göndəriləcək.
  </p>
  <form action="" [formGroup]="forgetpwd">
    <div class="row">
      <div class="col-3 ">
        <div class="form-floating mb-2">
          <select class="form-select py-0" aria-label="Default select example" formControlName="phoneStart">
            <option value="055" selected>055</option>
            <option value="050">050</option>
            <option value="051" >051</option>
            <option value="070">070</option>
            <option value="077">077</option>
            <option value="099">099</option>
            <option value="010">010</option>
          </select>
        </div>
      </div>
      <div class="col-9">
        <div class="form-floating">
          <input type="number" class="form-control" id="floatingNumber" placeholder="Number" formControlName="phoneEnd"
            maxlength="7"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          <label for="floatingNumber">Mobil number </label>
        </div>
      </div>
      <div class="col-12">
            <form [formGroup]="aFormGroup" class="d-flex justify-content-center p-3">
        <ngx-recaptcha2 #captchaElem siteKey="6LceAwEjAAAAAF_2xvsRAwH4I7YY_AGAip5VhYmT"
         (success)="handleSuccess($event)"

         [size]="size"
         [hl]="lang"
          [theme]="theme"
           [type]="type"
            formControlName="recaptcha">
        </ngx-recaptcha2>
      </form>
    </div>
      <div class="col-12 text-center">
        <div class="btn">
          <button type="submit" (click)="SendSms()" class="dartBtn">Send SMS</button>
        </div>
      </div>
      <div *ngIf="formType" class="col-11 text-danger  text-bolder text-center">Xahiş olunur müvafiq sahələri
        doldurun</div>
      <div class="col-12 text-danger text-center">{{message}} </div>
    </div>
  </form>
</div>
