.btn {
  padding-top: 39px;
  padding-bottom: 14px;
  button{
    box-shadow: -3px -3px 5px #FFFFFF, -0.5px -0.5px 2px #FFFFFF, 0.5px 0.5px 2px rgba(0, 0, 0, 0.25), 3px 3px 5px rgba(0, 0, 0, 0.25);
    width: 150px;
    height: 40px;
  }
}
.mat-dialog-container{
  padding: 0!important;
  border-radius: 7px!important;
}
.sendSms{
padding: 29px 50px;

}
button{
  img{
    cursor: pointer;
  }
  }
