<div class="col-12 d-flex justify-content-end button" mat-dialog-close>
  <img src="../../../assets/login/Close.svg" alt="">
</div>
<div class=" sendSms">
  <div class="row">
    <div class="col-3">
      <div class="form-floating mb-2">
        <select class="form-select py-0" aria-label="Default select example">
          <option value="1">051</option>
          <option value="2">050</option>
          <option value="3">070</option>
        </select>
      </div>
    </div>
    <div class="col-9">
      <div class="form-floating">
        <input type="number" class="form-control" id="floatingNumber" placeholder="Number">
        <label for="floatingNumber">Mobil number </label>
      </div>
    </div>
    <div class="col-12 text-center">
      <div class="btn">
        <button (click)="SendSms()">Send SMS</button>
      </div>
    </div>
    <div class="col-12 text-danger text-center">Daxil etdiyiniz mobil nömrə yanlışdır! </div>
  </div>

</div>
