<div class=" wrapper">
  <p class="targe-date">
    Countdown to {{ months[month] + ' ' + day + ', ' + year }}
  </p>

  <div class="times row">
    <div class=" col-3 mt-3 d-flex justify-content-center">
      <div class="box">
        <p class="time text-center" id="days"></p>
        <p class="text-center pText">Gün</p>
        <span class="Sleft"></span>
        <span class="Sright"></span>
      </div>
    </div>
    <div class=" col-3 mt-3  d-flex justify-content-center">
      <div class="box">
        <p class="time text-center" id="hours"></p>
        <p class="text-center pText">Saat</p>
        <span class="Sleft"></span>
        <span class="Sright"></span>
      </div>
    </div>
    <div class=" col-3 mt-3  d-flex justify-content-center">
      <div class="box">
        <p class="time text-center" id="mins">
        </p>
        <p class="text-center pText">Dəqiqə</p>
        <span class="Sleft"></span>
        <span class="Sright"></span>
      </div>

    </div>
    <div class=" col-3 mt-3  d-flex justify-content-center">
      <div class="box">
        <p class="time text-center" id="seconds"></p>
        <p class="text-center pText">Saniyə</p>
        <span class="Sleft"></span>
        <span class="Sright"></span>
      </div>


    </div>
  </div>
</div>
