<ngx-spinner bdColor="transparent" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="d-none">
  <app-header></app-header>
</div>
<main class="main-content">
  <div class="container-countdown ">
    <div class="row">
      <div class="col-3">
        <section class="countdown-block">
          <span class="days time-element">
            <span class="top">00</span>
            <span class="top-back">
              <span>00</span>
            </span>
            <span class="bottom">00</span>
            <span class="bottom-back">
              <span>00</span>
            </span>
          </span>
          <h2 class="subtitle">Days</h2>
        </section>
      </div>

      <div class="col-3">
        <section class="countdown-block">
          <span class="hours time-element">
            <span class="top">00</span>
            <span class="top-back">
              <span>00</span>
            </span>
            <span class="bottom">00</span>
            <span class="bottom-back">
              <span>00</span>
            </span>
          </span>
          <h2 class="subtitle">Hours</h2>
        </section>
      </div>

      <div class="col-3">
        <section class="countdown-block">
          <span class="minutes time-element">
            <span class="top">00</span>
            <span class="top-back">
              <span>00</span>
            </span>
            <span class="bottom">00</span>
            <span class="bottom-back">
              <span>00</span>
            </span>
          </span>
          <h2 class="subtitle">Minutes</h2>
        </section>
      </div>

      <div class="col-3">
        <section class="countdown-block">
          <span class="seconds time-element">
            <span class="top">00</span>
            <span class="top-back">
              <span>00</span>
            </span>
            <span class="bottom">00</span>
            <span class="bottom-back">
              <span>00</span>
            </span>
          </span>
          <h2 class="subtitle">Seconds</h2>
        </section>
      </div>
    </div>
  </div>
