.wrapper {
  max-width: 600px;
  margin: 70px auto;
  font: normal 14px sans-serif;
  .targe-date {
    text-align: center;
  }
  .description,
  .times {
    display: flex;
    justify-content: space-around;
    > p {
      width: 25%;

      margin: 10px 0 0 0;
      text-align: center;
    }
  }
  .times {
    font-size: 22px;
  }
}
.times {
  margin-top: 10px;

  .time {
    height: 110px;
    width: 110px;
    box-shadow: 3px 3px 5px 0px #00000040;
    border-radius: 6px;
    box-shadow: -3px -3px 5px 0px #ffffff;
    background: linear-gradient(180deg, #efefef 0%, #f8f8f8 50%, #efefef 100%);
    border: 0.5px solid #626262;
    //  margin-top: 10px;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 44%;
      left: 0;
      width: 100%;
      height: 2%;
      background-color: #fff;
    }

  }
  .pText {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #626262;
  }
}
.box{
  position: relative;
  .Sleft{
    position: absolute;
    height: 10px;
    width: 5px;
    left: 0px;
    top: 45px;
    background: #626262;

  }
  .Sright{
    position: absolute;
    height: 10px;
    width: 5px;
    right: 0px;
    top: 45px;
    background: #626262;
  }
}
@media only screen and (max-width: 584px) {
  .wrapper{
    padding: 0 20px;
  }
   .times{
    .time{
      width: 50px;
      height: 50px;
      font-size: 40px;
      line-height: 53px;
      &::after{
        top: 54%;
      }
     }
     .Sleft,.Sright{
    top: 22px;

     }
   }
}
