* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.main-content {
  align-items: center;
  background-position: bottom;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: flex-start;
  line-height: 1.5;
  position: relative;
  padding: 120px 0px;
  .container-countdown {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0px 30%;
    .row {
      width: 100%;
      justify-content: center;
    }
  }
  .countdown-block {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    .subtitle {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      color: #626262;
    }
  }
  .time-element {
    border-radius: 8px;
    // box-shadow: 0px 8px 0px 0px #16151d;
    font-family: Pathway Gothic One;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0em;
    height: 100px;
    line-height: 97px;
    margin-bottom: 27px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100px;
    border-radius: 6px;
    background: #efefef;
    box-shadow: -3px -3px 5px #ffffff, 3px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    &::before,
    &::after {
      background: #626262;
      border-bottom: 1px solid #fff;
      content: "";
      height: 10px;
      position: absolute;
      top: calc(50% - 5px);
      width: 10px;
      z-index: 6;
    }
    &::before {
      left: -5px;
    }
    &::after {
      right: -5px;
    }
    > span {
      left: 0;
      position: absolute;
      right: 0;
    }
    .top {
      background: #efefef;

      transform-origin: 50% 100%;
      transform: perspective(200px);
      z-index: 3;
    }
    .top::after,
    .bottom-back::after {
      border-bottom: 2px solid #fff;
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
    .bottom {
      z-index: 1;
      &::before {
        background: #efefef;

        content: "";
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
    .bottom-back {
      background: #efefef;

      height: 50%;
      overflow: hidden;
      top: 0;
      z-index: 2;
      span {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .top,
    .top-back {
      backface-visibility: hidden;
      height: 50%;
      overflow: hidden;
    }
    .top-back {
      background: #efefef;

      bottom: 0;
      transform-origin: 50% 0;
      transform: perspective(200px) rotateX(180deg);
      z-index: 4;
      span {
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: -100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-content .container-countdown {
    flex-direction: column;
    padding: 60px 0px;
  }
}
@media only screen and (max-width: 450px) {
  .time-element {
    font-size: 30px !important;
    height: 60px !important;
    width: 60px !important;
    line-height: 60px !important;
  }
}
@media only screen and (max-width: 281px) {
  .time-element {
    font-size: 20px !important;
    height: 50px !important;
    width: 50px !important;
    line-height: 50px !important;
  }
}
@media only screen and (max-width: 1161px) {
  .container-countdown {
    padding: 0px 25% !important;
  }
}
@media only screen and (max-width: 1131px) {
  .container-countdown {
    padding: 0px 18% !important;
  }
}
@media only screen and (max-width: 710px) {
  .container-countdown {
    padding: 0px 3% !important;
  }
}
