<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="footer">
  <div class="container p-0 h-100">
    <div class="row align-items-center paddingRes h-100">
      <div class="col-6">
        <h6 class="footerP mt-2">© 2022 LinkUp</h6>
      </div>
      <div class="col-6 d-flex justify-content-end PRes">
        <div class="all-logo d-flex align-items-center ">
          <a target="_blank" href="https://www.instagram.com/linkup.az/">
            <img class="mt-1 Flogo" src="../../../assets/login/InstaaIcon.svg" alt="">
            <img class="mt-1 FColoredlogo" src="../../../assets/login/coloredInstaLogo.svg" alt="">
          </a>
          <a target="_blank" href="https://www.facebook.com/linkup.az/">
            <img class="mt-1 Flogo" src="../../../assets/login/FbIcon.svg" alt="">
            <img class="mt-1 FColoredlogo" src="../../../assets/login/coloredFbLogo.svg" alt="">
          </a>
          <a target="_blank" href="">
            <img class="mt-1 Flogo" src="../../../assets/login/TwitterLogo (2).svg" alt="">
            <img class="mt-1 FColoredlogo" src="../../../assets/login/ColoredTwitterLogo.svg" alt="">
          </a>
          <a target="_blank" href="https://youtube.com/channel/UCIDz78KApCGWcsBVHuluEhA">
            <img class="mt-1 Flogo" src="../../../assets/login/YoutubeIcon.svg" alt="">
            <img class="mt-1 FColoredlogo" src="../../../assets/login/coloredYoutube.svg" alt="">
          </a>
          <a target="_blank" href="https://wa.me/505708111">
            <img class="mt-1 Flogo" src="../../../assets/login//wpLogo.svg" alt="">
            <img class="mt-1 FColoredlogo" src="../../../assets/login/coloredWpLogo.svg" alt="">
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
