<div class="footer">
  <div class="container p-0 h-100">
    <div class="row align-items-center paddingRes h-100">
      <div class="col-6">
        <h6 class="footerP mt-2">© 2022 LinkUp</h6>
      </div>
      <div class="col-6 d-flex justify-content-end PRes">
        <div class="all-logo d-flex align-items-center ">
          <button>
            <img class="mt-1 Flogo" src="../../../assets/login/InstagramLogo.svg" alt="">
            <img class="mt-1 FColoredlogo" src="../../../assets/login/coloredInsta.svg" alt="">
          </button>
          <button>
            <img class="mt-1 Flogo" src="../../../assets/login/FbLogo.svg" alt="">
            <img class="mt-1 FColoredlogo" src="../../../assets/login/coloredFb.svg" alt="">
          </button>
          <button>
            <img class="mt-1 Flogo" src="../../../assets/login/TwitterLogo.svg" alt="">
            <img class="mt-1 FColoredlogo" src="../../../assets/login/coloredTw.svg" alt="">
          </button>
          <button>
            <img class="mt-1 Flogo" src="../../../assets/login/YTubeLogo.svg" alt="">
            <img class="mt-1 FColoredlogo" src="../../../assets/login/coloredYT.svg" alt="">
          </button>
          <button>
            <img class="mt-1 Flogo" src="../../../assets/login/WhatsapLogo.svg" alt="">
            <img class="mt-1 FColoredlogo" src="../../../assets/login/coloredWP.svg" alt="">
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
