.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  width: 100%;
  background: #353e47;
  z-index: 8;
  .footerP {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    color: #fff;
  }
  .all-logo {
    button {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}
@media only screen and (max-width: 982px) {
  .paddingRes {
    padding: 0px 15px;
  }
}
