<div class="footer">
  <div class="container ">
    <div class="row align-items-center">
      <div class="col-6">
        <h6 class="footerP">© 2022 LinkUp</h6>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="all-logo d-flex align-items-center">
          <button><img src="../../../assets/login/InstagramLogo.svg" alt=""></button>
          <button><img src="../../../assets/login/FbLogo.svg" alt=""></button>
          <button><img src="../../../assets/login/TwitterLogo.svg" alt=""></button>
          <button><img src="../../../assets/login/YTubeLogo.svg" alt=""></button>
          <button><img src="../../../assets/login/WhatsapLogo.svg" alt=""></button>
        </div>
      </div>
    </div>
  </div>
</div>
