.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  width: 100%;
  background: #353e47;
  z-index: 8;
  height: 60px;
  .footerP {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    color: #fff;
  }
  .all-logo {
    a {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}
.paddingRes {
  padding: 0px 15px;
}
.FColoredlogo {
  display: none;
  transition: all linear 0.8s;
}
.Flogo {
  display: block;
  transition: all linear 0.8s;
}
a {
  &:hover {
    .FColoredlogo {
      display: block;
      transition: all linear 0.8s;
    }
    .Flogo {
      display: none;
      transition: all linear 0.8s;
    }
  }
}
// @media only screen and (max-width: 982px) {
//   .paddingRes {
//     padding: 0px 15px;
//   }
// }

@media only screen and (max-width: 368px) {
  .all-logo {
    padding: 0;
    img {
      width: 35px;
    }
  }
  .PRes {
    padding: 0;
  }
}
