header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  transition: 0.2s;
  z-index: 3;
}
main {
  margin: 100px 0;
}
.headText {
  padding-top: 10px;
  width: 90%;
  margin: auto;
  pre {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #626262;
  }
}
.all-main {
  padding-top: 50px;

  .chooseColorDiv {
    .ChooseColor {
      font-size: 35px;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: center;
      color: #000000;
    }
  }
  .allColorBox {
    padding: 40px 0px;
    img {
      cursor: pointer;
      // padding:0px 30px;
    }
  }
  .alertBox {
    .alertP {
      padding-top: 10px;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #626262;
      .bText {
        font-size: 14px;
        font-style: italic;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
      }
      .alertText {
        color: #f00f10;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
}
.login {
  background-color: #66bfbf;
  margin-top: 15%;
  padding-bottom: 2%;
}
.blockBlue {
  flex: 0 0 auto;
  width: 16.66666667%;
  padding: 0;
  display: flex;
  justify-content: end;
}
// }
// .blockRed{
//   flex: 0 0 auto;
//   width: 16.66666667%;
//   padding: 0;
//   display: flex;
//   justify-content: end;
// }
// .blockBlue{
//   flex: 0 0 auto;
//   width: 16.66666667%;
//   padding: 0;
//   display: flex;
// }
// .blockGreen{
//   flex: 0 0 auto;
//   width: 16.66666667%;
//   padding: 0;
//   display: flex;
//   justify-content: start;

// }
.colorBtn {
  transition: all linear 0.5s;
  img {
    transition: all linear 0.5s;
  }
  .block {
    transform: scale(1.5);
    transition: all linear 0.5s;
    justify-content: center;
    margin: auto;
  }
}

.none {
  display: none;
  transition: all linear 0.5s;
}

@media only screen and (max-width: 850px) {
  .colorBtn {
    width: 33.3% !important;
  }
}
