.loginPage {
  position: relative;
  // padding-top: 10%;
  // padding-bottom: 36px;
  // background-image: url("../../../assets/login/Group\ 36LoginBg.svg");
  // background-repeat: no-repeat;
  // background-position: right;
  // background-size: 76%;
  // height: 50%;
  //  padding: calc(100%/16);
  height: 100vh;
  .customrow {
    transform: translateY(100%);
  }
  .colSelect {
    padding-right: 0 !important;
  }
  .LoginText {
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: right;
    color: #ffffff;
    padding: 0px 10px;
    .red {
      color: #ff4949;
    }
    .blue {
      color: #0096ff;
    }
    .green {
      color: #3ccf4e;
    }
  }
  .btn {
  }
}
.rightLogin {
  display: none;
}
img {
  transform: scale(1.2);
}
// .col-1{
//   width: 13%;
// }
// .col-6{
//   width: 40%;
// }
// .col-7{
//   width: 53.333%;
// }
.loginP {
  font-family: Open Sans;
}
.forgetpwd {
  font-family: Open Sans;
  font-size: 14px;
  // font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff !important;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.leftLogin {
  img {
    position: absolute;
    left: 50px;
    // width: ;
    bottom: 0;
  }
}
// @media only screen and (max-width: 1000px) {
//   .loginPage {
//     background-image: none;
//   }
//   img {
//     transform: scale(1);
//   }
//   .loginForm {
//     padding-top: 5%;
//     padding-bottom: 13%;
//   }
// }
// @media only screen and (max-width: 981px) {
//   // .leftLogin {
//   //   display: none;
//   // }
//   // .rightLogin {
//   //   display: block;
//   // }
// }
// @media only screen and (max-width: 1689px) and (min-width: 981px) {
//   img {
//     transform: scale(1);
//   }
//   .selectForm {
//     // width: 57px;
//     // padding:0;
//   }
//   // .col-lg-3 {
//   //   width: 35%;
//   // }
// }
// @media screen and (max-height: 1200px) and (min-height: 1000px) {
//   .selectForm {
//     select {
//       // width: 125%;
//     }
//   }
// }

// @media only screen and (max-width: 402px) {
//   .selectForm {
//     select {
//       // width: 132%;
//     }
//   }
// }
// @media only screen and (max-width: 1294px) {
//  .col-lg-3custom{
//   width: 50%;
//  }
// }
// @media only screen and (max-width: 798px) {
//   .col-lg-3custom{
//    width: 72%;
//   }
//  }
//  @media only screen and (max-width: 550px) {
//   .col-lg-3custom{
//    width: 100%;
//   }
//  }
//  @media only screen and (max-width: 550px) {
//   .col-lg-3custom{
//    width: 100%;
//    padding-left: 1rem!important;
//    padding-right: 1rem!important;
//   }
//  }
//  @media only screen and (max-width: 550px) {
//   .col-lg-3custom{
//    width: 100%;
//    padding-left: 1rem!important;
//    padding-right: 1rem!important;
//   }
//  }
// @media only screen and (max-width: 333px) {
//   .loginPage {
//     overflow: hidden;
//   }
//   .selectForm {
//     select {
//       width: 118%;
//     }
//   }
// }
