<div class="container">
  <div class="loginPage">
    <div class="row">
      <div class="col-lg-3 reveal-item ">
        <h1 class="LoginText d-flex justify-content-center">
          <p class="loginP">
            LinkUp həyatınızı
            <br>
            rəngləndi<span class="red">r</span><span class="blue">i</span><span an class="green">r</span>!
          </p>
        </h1>
        <img src="../../../assets/login/AlertWoman.svg" alt="">
      </div>
      <div class="col-lg-3 px-5 loginForm">
        <form action="" [formGroup]="loginForm">
          <div class="row">
            <div class="col-3">
              <div class="form-floating mb-3 selectForm">
                <select class="form-select py-0" aria-label="Default select example" formControlName="phoneStart">
                  <option value="051">051</option>
                  <option value="050">050</option>
                  <option value="070">070</option>
                  <option value="077">077</option>
                  <option value="055">055</option>
                  <option value="099">099</option>
                </select>
              </div>

            </div>
            <div class="col-8">
              <div class="form-floating inputForm">
                <input type="number" class="form-control" id="floatingNumber" placeholder="Number"
                  formControlName="phoneEnd" maxlength="7"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                <label for="floatingNumber">Mobil number </label>
              </div>
            </div>
            <div class="col-11">
              <div class="form-floating inputForm">
                <input type="password" class="form-control" id="Password" formControlName="password">
                <label for="Password">Password</label>
              </div>
            </div>
            <div class="col-11 d-flex  justify-content-end">
              <a (click)="openDialog()" class="py-2">Forgot password?</a>
            </div>
            <div class="col-11 text-center py-3">
              <div class="btn">
                <button type="submit" (click)="SubmitForm()" class="whitebtn">Log in</button>
              </div>
            </div>
            <div *ngIf="loginType" class="col-11 text-danger  text-bolder text-center">Xahiş olunur müvafiq sahələri
              doldurun</div>
            <div class="col-11 text-danger text-center text-bolder">{{errorMessage}}</div>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <!-- <div class="forgetForm"></div> -->
      </div>
    </div>
  </div>

</div>
