<ngx-spinner bdColor="transparent" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="container ">
  <div class="loginPage">
    <div class="row customrow  d-flex justify-content-center">

      <div class="col-lg-3custom col-12 d-flex justify-content-center px-5 loginForm">
        <form action="" [formGroup]="loginForm">
          <div class="row justify-content-center">

            <div class="col-3 colSelect">

              <div class="form-floating mb-3 selectForm">
                <select class="form-select py-0" aria-label="Default select example" formControlName="phoneStart">
                  <option value="055" selected>055</option>
                  <option value="050">050</option>
                  <option value="051" >051</option>
                  <option value="070">070</option>
                  <option value="077">077</option>
                  <option value="099">099</option>
                  <option value="010">099</option>
                </select>
              </div>

            </div>
            <div class="col-8">
              <div class="form-floating inputForm">
                <input type="number" class="form-control" id="floatingNumber" placeholder="Number"
                  formControlName="phoneEnd" maxlength="7"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                <label for="floatingNumber">Mobil number </label>
              </div>
            </div>
            <div class="col-11">
              <div class="form-floating inputForm">
                <input type="password" class="form-control" id="Password" placeholder="password"
                  formControlName="password">
                <label for="Password">Password </label>
              </div>
            </div>
            <div class="col-11 d-flex forgetpwdbox justify-content-end ">
              <a (click)="openDialog()" class="pt-2 pb-1 forgetpwd">Forgot password?</a>
            </div>
            <div class=" designbtn col-11 text-center py-3  whiteBtn">
              <div class="anim-btn">
                <button class="anim-btn__button" (mouseover)="MouseOverButton()" (mouseleave)="MouseLeaveButton()"
                  (click)="SubmitForm()">Log in</button>
                <div id="animbtnoverlaylogin" class="anim-btn__overlay"></div>
              </div>
            </div>

            <!-- <div class="col-11 text-danger text-center text-bolder">{{errorMessage}}</div> -->
          </div>
        </form>
      </div>

      <!-- <div class="col-lg-4">
         <div class="forgetForm"></div>
      </div> -->
    </div>

    <div class=" leftLogin row">
      <img src="../../../assets/login/AlertWoman.svg" alt="" class="col-3">
      <h1 class="LoginText col-4" >
        <p class="loginP">
          LinkUp həyatınızı
          <br>
          rəngləndi<span class="red">r</span><span class="blue">i</span><span an class="green">r</span>!
        </p>
      </h1>
    </div>
  </div>

</div>
