.loginPage {
  padding-top: 10%;
  background-image: url('../../../assets/login/Group\ 36LoginBg.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 76%;
  .LoginText {
    font-family: Nova Slim;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: right;
    color: #ffffff;
    padding: 0px 10px;
    .red {
      color: #ff4949;
    }
    .blue {
      color: #0096ff;
    }
    .green {
      color: #3ccf4e;
    }
  }
  .btn {

  }
}
img{
  transform: scale(1.2);
}
// .col-1{
//   width: 13%;
// }
// .col-6{
//   width: 40%;
// }
// .col-7{
//   width: 53.333%;
// }
.loginP{
  font-family: 'Nova Slim', cursive;

}
 @media only screen and (max-width: 1000px) {
  .loginPage{
    background-image: none;
  }
  img{
    transform: scale(1);
  }
  .loginForm {
    padding-top: 5%;
    padding-bottom:13%;
  }
}

@media only screen and (max-width: 1689px) and (min-width: 981px)  {
  img{
    transform: scale(1);
  }
.selectForm{
  width: 57px;
  // padding:0;
}
.col-lg-3{
  width: 35%;
}
}
@media screen and (max-height: 1200px) and (min-height: 1000px) {
  .selectForm {
    select{
      // width: 125%;
    }

  }
}
@media only screen and (max-width: 402px)  {
  .selectForm {
    select{
      width: 132%;
    }

  }
}
@media only screen and (max-width: 324px)  {
  .selectForm {
    select{
      width: 148%;
    }

  }
}
