<ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class=" p">
  <div class="row header align-items-center justify-content-between">
    <div class=" col-2 image-div ">
      <img src="../../../assets/login/LinkUpLogo.svg" alt="">
    </div>
    <div class="col-5 musicbox d-flex justify-content-end">

      <img *ngIf="!audioType" (click)="onBeforeOpen($event)" src="../../../assets/login/Music.svg" alt="">
      <div class=" gifbox">
        <img *ngIf="audioType" class="Gif" (click)="onAfterOpen($event)"
          src="../../../assets/login/Music_Icon_Anima_3_AdobeExpress.gif" alt="">
      </div>
    </div>

    <div class="col-5 row d-flex justify-content-end right">
      <div class="flag col-6 d-flex justify-content-end align-items-center p-0">
        <!-- <div  *ngIf="title=='url1'" class="btn loginbtn">
          <button  class="dartBtn loginbtn" (click)="scrollToElement()">Log in</button>
        </div> -->
        <div *ngIf="title=='url3'" class="btn ">
          <button  class="dartBtn homebtn" routerLink="/"><img
              src="../.././../assets/login/iconhome.svg" alt=""></button>
        </div>
        <div *ngIf="title=='url2'" class="btn ">
          <button  class="dartBtn exitbtn" (click)="LogOut()"><img
              src="../.././../assets/login/iconexit.svg" alt=""></button>
        </div>
        <img class="mx-1" src="../../../assets/login/Flag AZ.svg" alt="">
        <img src="../../../assets/login/Flag EN.svg" alt="">

      </div>
    </div>
  </div>
</div>
<div class="gradient" id="gradient" [className]="audioType==true ? 'gradient animatebox' : 'gradient'"></div>
