.header {
  overflow: hidden;
  .flag {
    img {
      cursor: pointer;
    }
  }
  .image-div {
    img {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 2;
      padding-left: 40px;
      padding-top: 5px;
    }
  }
}
.p {
  height: 70px;
}

.gradient {
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg, #ff4949 0%, #0096ff 48.96%, #3ccf4e 100%);
}
.animatebox {
  background-size: 400% 400%;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.dartBtn {
  width: 120px;
}
@keyframes example {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.musicbox {
  // margin-top: -15px;
  padding-right: 110px;
  img {
    cursor: pointer;
    transition: all linear 0.5s;
    // padding-top: 6px;
  }
}
.gifbox {
  height: 70px;

  .Gif {
    transition: all linear 0.5s;
    margin-top: 8px;
    margin-right: 7px;
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
}
.right {
  padding-right: 35px;
}
.homebtn .exitbtn {
  width: 24.99px;
  height: 23.45px;
}
@media only screen and (max-width: 850px) {
  .loginbtn{
    padding: 0!important;
    button{
      font-size: 12px;
    }
  }
  .musicbox {
    justify-content: start !important;
    padding: 0;
  }
  .btn {
    button {
      width: 70px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .image-div {
    img {
      padding-left: 20px !important;
    }
  }
}
@media only screen and (max-width: 500px) {
  .image-div {
    img {
      padding-left: 20px !important;
    }
  }
}
@media screen and (max-width: 360px) {
  .right {
    padding-right: 15px !important;
  }
  .btn {
    padding-right: 0;
  }
}
.homebtn,
.exitbtn {
  width: 50px !important;
  // height: 23.45px !important;
}
