@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap");
* {
  font-family: "Open Sans", sans-serif;

}
a{
  cursor: pointer;
}
//login
.container {
  max-width: 1800px !important;
}
.btn {
  button {
    background: #353e47;
    height: 40px;
    width: 120px;
    left: 1210px;
    top: 16px;
    border-radius: 6px;
    // font-family: Open Sans;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    // letter-spacing: 0em;
    color: #fff;
    text-decoration: none;
  }
}
input,select{
  box-shadow: inset -2px -2px 5px #FFFFFF, inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}
 .form-control:focuss{
  box-shadow: inset -2px -2px 5px #FFFFFF, inset 2px 2px 5px rgba(0, 0, 0, 0.5)!important;
  outline: none;
 }
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 /* Firefox */
 input[type=number] {
   -moz-appearance: textfield;
 }
html, body { height: 100%;
scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
